.uppost-input {
    max-width: 190px;
    background-color: #d4c3ed;
    color: black;
    padding: .15rem .5rem;
    min-height: 40px;
    outline: none;
    line-height: 1.15;
    box-shadow: 0px 10px 20px -18px;
    min-width: 90%;
    cursor: pointer;
    border: #A36ACB 1px solid;
    border-radius: 20px;
    overflow: hidden;
}

uppost-input:focus {
    border-bottom: 2px solid #5b5fc7;
}

uppost-input:hover {
    outline: 1px solid lightgrey;
}
.form-select{
    width: 35%;
    height: 36px;
}

.uppost-pushable {
    position: relative;
    background: #A36ACB;
    padding: 0px;
    border: none;
    cursor: pointer;
    outline-offset: 4px;
    outline-color: deeppink;
    transition: filter 250ms;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    max-width: 100%;
    min-width: 100%;
    height: 40px
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: hsl(226, 25%, 69%);
    border-radius: 8px;
    filter: blur(2px);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.uppost-edge {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background: linear-gradient(
            to right,
            hsl(248, 39%, 39%) 0%,
            hsl(248, 39%, 49%) 8%,
            hsl(248, 39%, 39%) 92%,
            hsl(248, 39%, 29%) 100%
    );
}

.uppost-front {
    display: block;
    position: relative;
    border-radius: 8px;
    background-color: #A36ACB;
    padding: 16px 32px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 1rem;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);

}

.uppost-pushable:hover {
    filter: brightness(110%);
}

.uppost-pushable:hover .uppost-front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.uppost-pushable:active .uppost-front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.uppost-pushable:hover .shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.uppost-pushable:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.uppost-pushable:focus:not(:focus-visible) {
    outline: none;
}


.img-up-post{
    background-size: cover;
    background-position: center;
    aspect-ratio: 1/1;
    width: 60px;
    border-radius: 100%;
    margin-right: 10px;
}
.uppost-modal-title{
    margin: 0 0px 0px 38%;
    font-weight: bold;
}
